<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>{{title}}</h1>
	<ol>
		<li>home 1</li>
		<li>home 2</li>
		<li>home 3</li>
		<li>home 4</li>

	</ol>
	<footer>
		<h1>
			{{currentYear}}
		</h1>
	</footer>

</body>
</html>